.banner {
    background-color: #f8f8f8;
    text-align: center;
    padding: 1px;
    border-bottom: 1px solid #333;
}

.logo {
    width: 160px;
    height: auto;
}
.banner h1 {
    color: #d63384;
    font-family: 'Segoe UI', sans-serif;
}

.banner p {
    font-size: 14px;
    color: #555
}

.menu {
    background-color: #333;
    text-align: center;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    display: inline-block;
    margin: 0 15px;
}

.menu a {
    color: white;
    text-decoration: none;
}
.menu a:hover {
    color: #d63384;
}

.main {
    width: 100%;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.main {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
}

.product img {
    width: 80%;
    height: auto;
    border-radius: 8px;
}

.product p {
    color: #555;
    font-weight: bold;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

.footer a {
    color: #d63384;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}